---
layout: default
title: Home
---

<div class="article-list">
  {% for post in paginator.posts %}
  {% if forloop.first %}
  {% else %}
  <hr />
  {% endif %}
  <article class="article">
    <h1 class="article-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    <time datetime="{{ post.date | date_to_xmlschema }}" class="article-date">{{ post.date | date: '%B %-d, %Y' }}</time>
    
    {% if post.layout == "photo" %}
    {% if post.photo %}
    <p><a href="{{ site.baseurl }}/photos/{{ post.photo }}">
      <img src="{{ site.baseurl }}/photos/{{ post.photo }}" alt="{{ post.title }}" title="{{ post.title }}"></a></p>
    {% endif %}
    {% endif %}
    {{ post.content }}
    {% if post.layout == "photo" %}
    {% if post.additionalphotos | strip != "true" %}
    {% assign additionalphotos = post.additionalphotos | split: ", " %}
    {% for photo in additionalphotos %}
    <p><a href="{{ site.baseurl }}/photos/{{ photo }}">
      <img src="{{ site.baseurl }}/photos/{{ photo }}" alt="{{ photo }}" title="{{ photo }}"></a></p>
    {% endfor %}
    {% endif %}
    {% endif %}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
  <span class="pagination-more">
    <a href="{{ paginator.next_page_path }}">More</a>  &gt;
  </span>    
  {% endif %}
</div>
