body {background:#fff; font-family: helvetica-neue, helvetica, sans-serif; font-size: 1em; line-height: .3em; float: left; width:640px; margin-top:60px; margin-left:64px;}

p {line-height: 1.4em;}    
h2 {font-size: 1.4em; color:#333; line-height:40px; font-weight:normal; margin-bottom: 2em}
h2 a:link {border-style: none;}
h3 {font-weight:normal; font-size: .9em; color:#303030; line-height:2.8em; margin-top: 2em}
h3 a:link {border-style: none;}
pre {line-height:1.4em}
.skip-link.screen-reader-text {display: none;}
.site-info {display: none;}
ol {margin:1em 0 2em 0;}
li {line-height: 1.5em;}

a:link {color: #303030; text-decoration: none; border-width: 0 0 1px 0; border-style: none none solid none; border-color: #C0C0C0;}
a:visited {color: #303030; text-decoration: none; border-width: 0 0 1px 0; border-style: none none solid none; border-color: #C0C0C0;}
a:hover {color: #999; border-width: 0 0 1px 0; border-style: none none solid none; border-color: #C0C0C0; text-decoration: none;}



/* for iPhone-sized devices */
@media only screen and (max-device-width: 480px) {
    body { font-size: 1.5em; padding: 0 }
    h2 { font-size: 2em;  margin-bottom: 1.5em; text-align: left }
    h3 { font-size: 1.8em }
    h6 { font-size: .9em; text-align: left }
    p { font-size: 1.5em; line-height: 1.4em }
    table { font-size: 1.7em; line-height: 1.3em; white-space: nowrap}
}