//
// Masthead
//

.masthead {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: $color-black;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
}

.masthead-title a {
  color: inherit;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.masthead-menu {
  margin-top: 0;
  margin-bottom: 0;
  float: right;
  font-weight: 400;
}

.masthead-menu a {
  color: inherit;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

