//
// Variables
//

// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-link-blue: #3091f3;
$color-hashtag: #b4b6b8;
$color-postdate: #b4b6b8;
$color-table-border: #e5e5e5;
$color-table-stripe: #f9f9f9;